<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="{{ asset('/images/favicon.ico') }}">
        <link rel="android-chrome" sizes="512x512" href="android-chrome-512x512.png">
        <link rel="android-chrome" sizes="192x192" href="android-chrome-192x192.png">
        <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
        <link rel="icon" type="image/png" href="{{ asset('/images/favicon-16x16.png') }}" sizes="16x16">
        <link rel="icon" type="image/png" href="{{ asset('/images/favicon-32x32.png') }}" sizes="32x32">

        <title>Dynamic Forms - {% block title %}Default{% endblock %}</title>

        <link rel="stylesheet" href="{{asset('/css/bootstrap.min.css')}}" crossorigin="anonymous">
        <link rel="stylesheet" href="{{asset('/css/main.css')}}" crossorigin="anonymous">
        <link rel="stylesheet" href="{{asset('/css/sidebars.css')}}" crossorigin="anonymous">
        <link rel="stylesheet" href="{{asset('/css/bootswatch/lumen/bootstrap.min.css')}}" crossorigin="anonymous">
        <!-- Extra CSS -->
        {% block css %}{% endblock %}
        <!-- END:Extra CSS -->
    </head>
    <body>
        {% block layout %}{% endblock %}
        <script src="{{asset('/js/bootstrap.bundle.min.js')}}" crossorigin="anonymous"></script>
        <!-- Extra JS -->
        {% block js %}{% endblock %}
        <!-- END:Extra JS -->
    </body>
</html>