{% extends "common/body" %}
{% block layout %}
{% include "common/header" %}
<div class="container-fluid h-100">
    <div class="row">
        {% include "common/sidebar" %}
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 pb-5">
            <!-- block:breadcrumbs -->
            {% include "common/breadcrumbs" %}
            <!-- endblock:breadcrumbs -->
            <!-- block:headerButtons -->
            {% block headerButtons %}{% endblock %}
            <!-- endblock:headerButtons -->
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">{% block title %}{% endblock %}</h1>
            </div>
            <!-- block:flashMessages -->
            {% include "common/flash" with {"messagesMap":flashMessages} %}
            {% include "common/flash" with {"messagesMap":alertMessages} %}
            <!-- endblock:flashMessages -->
            <!-- block:content -->
            {% block content %}{% endblock %}
            <!-- endblock:content -->
        </main>
    </div>
</div>
{% endblock %}