<!-- block:sidebar -->
<div class="sidebar col-md-3 col-lg-2 p-3">
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 {{ ifActivePage('starts:/user', '', 'collapsed') }}" data-bs-toggle="collapse"
                    data-bs-target="#user-collapse" aria-expanded="{{ ifActivePage('starts:/user', 'true', 'false') }}">
                Users (ADMIN)
            </button>
            <div class="collapse {{ ifActivePage('starts:/user', 'show') }}" id="user-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="{{ href('/user') }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Users</a></li>
                    <li><a href="{{ href('/user/role') }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Roles</a></li>
                    <li><a href="{{ href('/user/privilege') }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Privileges</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 {{ ifActivePage('starts:/form', '', 'collapsed') }}" data-bs-toggle="collapse"
                    data-bs-target="#form-collapse" aria-expanded="{{ ifActivePage('starts:/form', 'true', 'false') }}">
                Forms (ADMIN)
            </button>
            <div class="collapse {{ ifActivePage('starts:/form', 'show') }}" id="form-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="{{ href('/form') }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Forms</a></li>
                    <li><a href="{{ href('/form/field') }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Fields</a></li>
                    <li><a href="{{ href('/form/entries') }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Entries</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 {{ ifActivePage('contains:ic-index', '', 'collapsed') }}" data-bs-toggle="collapse"
                    data-bs-target="#ic-index-collapse" aria-expanded="{{ ifActivePage('contains:ic-index', 'true', 'false') }}">
                IC Index
            </button>
            <div class="collapse {{ ifActivePage('starts:/ic-index', 'show') }}" id="ic-index-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="{{ href('/ic-index/new-ec') }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Add New</a></li>
                    <li><a href="{{ href('/ic-index/resistors') }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Resistors</a></li>
                    <li><a href="{{ href('/ic-index/capacitors') }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Capacitors</a></li>
                    <li><a href="{{ href('/ic-index/ics') }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">ICs</a></li>
                    <li><a href="{{ href('/ic-index/semiconductors') }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Semiconductors</a></li>
                </ul>
            </div>
        </li>
        <li class="border-top my-3"></li>
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                Account
            </button>
            <div class="collapse" id="account-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="{{ href('/user/' + principal.user.id + '/modify') }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Profile</a></li>
                    <li><a href="{{ href('/secure/logout') }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Sign out</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>
<!-- endblock:sidebar -->