<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>title</title>

        <link rel="stylesheet" href="{{asset('/css/bootstrap.min.css')}}" crossorigin="anonymous">
        <link rel="stylesheet" href="{{asset('/css/bootstrap-utilities.min.css')}}" crossorigin="anonymous">
        <link rel="stylesheet" href="{{asset('/css/bootstrap-grid.min.css')}}" crossorigin="anonymous">
        <link rel="stylesheet" href="{{asset('/css/bootstrap-reboot.min.css')}}" crossorigin="anonymous">
        <!-- Extra CSS -->
        {% block css %}{% endblock %}
        <!-- END:Extra CSS -->

        <title>Hello, world!</title>
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="{{asset('/js/bootstrap.min.js')}}" crossorigin="anonymous"></script>
        <script src="{{asset('/js/bootstrap.bundle.min.js')}}" crossorigin="anonymous"></script>
        <script src="{{asset('/js/bootstrap.esm.min.js')}}" crossorigin="anonymous"></script>
        <!-- Extra JS -->
        {% block js %}{% endblock %}
        <!-- END:Extra JS -->
    </body>
</html>