{% extends "common/layout" %}
{% block title %}{{ class.fullName }}{% endblock %}
{% block headerButtons %}
<div class="btn-group pt-2" role="group">
    <button onclick="window.location = '/bean-console/index'" type="button" class="btn btn-sm btn-light">MAIN</button>
    <button onclick="window.location = '/bean-console/search'" type="button" class="btn btn-sm btn-light">SEARCH</button>
</div>
{% endblock %}
{% block content %}
<ul>
    <h4>Methods:</h4>

    {% for entry in methods %}
    <ul>
        <h4>{{ entry.key }}</h4>
        {% for method in entry.value %}
        <li>
            <a href="{{ href('/bean-console/_/' + method.declaringClass.fullName + '/' + method.name) }}">
                {{ method.declaringClass.shortName }}#{{ method.name }}
                ({% for type in method.parametersTypes %}<a href="{{ href('/bean-console/_/' + type.fullName) }}">{{ type.shortName }}</a>,&nbsp;{% endfor %})
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
{% endblock %}