{% extends "common/layout" %}
{% block title %}Search for: {{ keyword }}{% endblock %}
{% block headerButtons %}
<div class="btn-group pt-2" role="group">
    <button onclick="window.location = '/bean-console/index'" type="button" class="btn btn-sm btn-light">MAIN</button>
    <button onclick="window.location = '/bean-console/search'" type="button" class="btn btn-sm btn-light">SEARCH</button>
</div>
{% endblock %}
{% block content %}

    <form class="d-flex" method="get" action="/bean-console/search">
        <input class="form-control me-sm-2" type="search" placeholder="Search" name="keyword" value="{{ keyword }}">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>

    <!-- START:GeneratedBlock -->
    {{ html | raw }}
    <!-- END:GeneratedBlock -->

{% endblock %}