{% extends "common/layout" %}
{% block title %}Bean Console{% endblock %}
{% block headerButtons %}
<div class="btn-group pt-2" role="group">
    <button onclick="window.location = '/bean-console/index'" type="button" class="btn btn-sm btn-light">MAIN</button>
    <button onclick="window.location = '/bean-console/search'" type="button" class="btn btn-sm btn-light">SEARCH</button>
</div>
{% endblock %}
{% block content %}
<h3>Enums:</h3>

    {% for entry in types %}
    <ul>
        <h4>{{ entry.key }}</h4>
        {% for type in entry.value %}
        <li>
            <a href="{{ href('/bean-console/local/' + type.name) }}">{{ type.name }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}

{% endblock %}