{% extends "common/layout" %}
{% block title %}Search Class{% endblock %}
{% block headerButtons %}
<div class="btn-group pt-2" role="group">
    <button onclick="window.location = '/bean-console/index'" type="button" class="btn btn-sm btn-light">MAIN</button>
    <button onclick="window.location = '/bean-console/search'" type="button" class="btn btn-sm btn-light">SEARCH</button>
</div>
{% endblock %}
{% block content %}
    <h3>Filter ({{ length }}):</h3>

    <form class="d-flex" method="get" action="/bean-console/search">
        <input class="form-control me-sm-2" type="search" placeholder="Search" name="keyword" value="{{ keyword }}">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>

    {% for entry in types %}
    <ul>
        <h4>{{ entry.key }}</h4>
        {% for type in entry.value %}
        <li>
            <a href="{{ href('/bean-console/_/' + type.fullName) }}">{{ type.fullName }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
{% endblock %}