{% extends "common/layout" %}
{% block title %}Field '{{ field.id }}'{% endblock %}
{% block headerButtons %}
<div class="btn-group pt-2" role="group">
    <button onclick="window.location = '/form/field/{{ field.id }}/customization/config'" type="button" class="btn btn-sm btn-dark">CONFIG</button>
    <button onclick="window.location = '/form/field/{{ field.id }}/customization/attribute'" type="button" class="btn btn-sm btn-dark">ATTRIBUTE</button>
    <button onclick="window.location = '/form/field/{{ field.id }}/customization/option'" type="button" class="btn btn-sm btn-dark">OPTION</button>
    <button onclick="window.location = '/form/field/{{ field.id }}/customization/embedded'" type="button" class="btn btn-sm btn-warning">EMBEDDED</button>
</div>
{% endblock %}
{% block content %}
<form method="post"
      action="{{ href('/form/field/' + field.id + '/customization/' + section + '/perform') }}"
      enctype="multipart/form-data"
      class="row g-3">

    <div class="row g-3">
        <div class="col-md-6">
            <div class="form-floating">
                <input type="text" class="form-control {{ ifFieldErrors('itemDTO', 'key', 'is-invalid', 'is-valid') }}"
                        id="key" name="key" value="{{slave.key}}" />
                <label for="key">Key</label>
                {% include "common/invalid-feedback" with {"formName" : "itemDTO", "fieldName" : "key"} %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating">
                <input type="text" class="form-control {{ ifFieldErrors('itemDTO', 'value', 'is-invalid', 'is-valid') }}"
                        id="value" name="value" value="{{slave.value}}" />
                <label for="value">Value</label>
                {% include "common/invalid-feedback" with {"formName" : "itemDTO", "fieldName" : "value"} %}
            </div>
        </div>
    </div>

    <input type="hidden" name="id" value="{{ slave.id }}">
    <input type="hidden" name="primaryId" value="{{ field.id }}">

    <div class="form-group mt-4">
        <button class="btn btn-success" type="submit">Submit</button>
        {% include "common/invalid-feedback" with {"formName" : "itemDTO", "fieldName" : "id"} %}
        {% include "common/invalid-feedback" with {"formName" : "itemDTO", "fieldName" : "primaryId"} %}
    </div>
</form>

<h2 class="mt-5">{{ section | upper }}</h2>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Key</th>
        <th scope="col">Value</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% set elements = section == 'config' ? field.configs : section == 'attribute' ? field.attributes : field.options %}
    {% for entry in elements %}
    {% set item = entry.value %}
    <tr>
        <th scope="row">{{ item.id }}</th>
        <td>
            <u>{{ item.key }}</u>
        </td>
        <td>
            <i>{{ item.value }}</i>
        </td>
        <td>
            <div class="btn-group" role="group">
                <button onclick="window.location = '{{ href('/form/field/' + item.primaryId + '/customization/' + section + '/' + item.id + '/modify') }}'"
                        type="button" class="btn btn-sm btn-dark">MODIFY</button>
                <button onclick="window.location = '{{ href('/form/field/' + item.primaryId + '/customization/' + section + '/' + item.id) + '/remove' }}'"
                        type="button" class="btn btn-sm btn-warning">REMOVE</button>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}