{% extends "common/layout" %}
{% block title %}Configure Field '{{ itemDTO.fieldId }}'{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="bg-light col-xl-6 col-lg-12 col-md-12">

            <h2 class="mt-5">Attributes</h2>

            <form method="post" action="{{ href('/form/field/config/perform') }}" enctype="multipart/form-data">
                <div class="input-group mb-1 mt-1">
                    <input type="text" name="attributeName" class="form-control" placeholder="Key" aria-label="Key">
                    <input type="text" name="attributeValue" class="form-control" placeholder="Value" aria-label="Value">
                    <button type="submit" class="btn btn-success">Update</button>
                </div>
            </form>

            <form method="post" action="{{ href('/form/field/config/perform') }}" enctype="multipart/form-data">
                <div class="input-group mb-1 mt-1">
                    <input type="text" name="attributeName" class="form-control" placeholder="Key" aria-label="Key">
                    <input type="text" name="attributeValue" class="form-control" placeholder="Value" aria-label="Value">
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>

        <div class="bg-light col-xl-6 col-lg-12 col-md-12">

            <h2 class="mt-5">Configuration</h2>

            <form method="post" action="{{ href('/form/field/config/perform') }}" enctype="multipart/form-data" >
                <div class="input-group mb-1 mt-1">
                    <div class="form-floating">
                        <input name="attributeName" type="text" class="form-control" id="config-name">
                        <label for="config-name">Config Name</label>
                    </div>
                    <div class="form-floating">
                        <input name="attributeValue" type="text" class="form-control" id="config-value">
                        <label for="config-value">Config Name</label>
                    </div>
                    <button type="submit" class="btn btn-success">Update</button>
                </div>
            </form>

            <form method="post" action="{{ href('/form/field/config/perform') }}" enctype="multipart/form-data">
                <div class="input-group mb-1 mt-1">
                    <div class="form-floating">
                        <input name="attributeName" type="text" class="form-control" id="config-name-new">
                        <label for="config-name-new">Config Name</label>
                    </div>
                    <div class="form-floating">
                        <input name="attributeValue" type="text" class="form-control" id="config-value-new">
                        <label for="config-value-new">Config Name</label>
                    </div>
                    <button type="submit" class="btn btn-success">Create</button>
                </div>
            </form>

        </div>
        <div class="bg-light col">

            <h2 class="mt-5">Embedded Fields</h2>

            <form method="post" action="{{ href('/form/field/config/perform') }}" enctype="multipart/form-data">
                <div class="input-group mb-1 mt-1">
                    <div class="form-floating">
                        <select class="form-select" id="embedded-field" aria-label="Floating label select example">
                            <option selected>-- select --</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <label for="embedded-field">Embedded Field</label>
                        <button type="submit" class="btn btn-success">Update</button>
                    </div>
                </div>
            </form>

            <form method="post" action="{{ href('/form/field/config/perform') }}" enctype="multipart/form-data">
                <div class="input-group mb-1 mt-1">
                    <div class="form-floating">
                        <select class="form-select" id="embedded-field-new" aria-label="Floating label select example">
                            <option selected>-- select --</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <label for="embedded-field-new">Embedded Field</label>
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}