{% extends "common/layout" %}
{% block title %}Field{% endblock %}
{% block content %}
<form method="post" action="{{ href('/form/field/perform') }}" enctype="multipart/form-data" class="row g-3" >

    <div class="form-group">
        <label for="field-name">Field Name</label>
        <input name="name" type="text" class="form-control {{ ifFieldErrors('fieldDTO', 'name', 'is-invalid', 'is-valid') }}" id="field-name" value="{{ fieldDTO.name }}">
        {% include "common/invalid-feedback" with {"formName" : "fieldDTO", "fieldName" : "name"} %}
    </div>

    <div class="form-group">
        <label for="field-label">Field Label</label>
        <input name="label" type="text" class="form-control {{ ifFieldErrors('fieldDTO', 'label', 'is-invalid', 'is-valid') }}" id="field-label" value="{{ fieldDTO.label }}">
        {% include "common/invalid-feedback" with {"formName" : "fieldDTO", "fieldName" : "label"} %}
    </div>

    <div class="form-group">
        <label for="field-description">Description</label>
        <input name="description" type="text" class="form-control {{ ifFieldErrors('fieldDTO', 'description', 'is-invalid', 'is-valid') }}" id="field-description" value="{{ fieldDTO.description }}">
        {% include "common/invalid-feedback" with {"formName" : "fieldDTO", "fieldName" : "description"} %}
    </div>

    <div class="form-group">
        <label class="d-block">Element Type</label>
        {% for elementType in elementTypes %}
        <div class="form-check">
            <input class="form-check-input" type="radio" name="elementType" id="ELEMENT_TYPE_{{ elementType }}" value="{{ elementType }}" {% if elementType equals fieldDTO.elementType %}checked{% endif %}>
            <label class="form-check-label" for="ELEMENT_TYPE_{{ elementType }}">
                {{ elementType }}
            </label>
        </div>
        {% endfor %}
        {% include "common/invalid-feedback" with {"formName" : "fieldDTO", "fieldName" : "elementType"} %}
    </div>

    <div class="form-group">
        <label class="d-block">Status</label>
        <div class="btn-group" role="group">
            {% for status in fieldStatuses %}
            <input type="radio" class="btn-check" name="status" id="{{ status }}" value="{{ status }}" autocomplete="off" {% if status equals fieldDTO.status %}checked{% endif %}>
            <label class="btn btn-sm btn-outline-dark" for="{{ status }}">{{ status }}</label>
            {% endfor %}
        </div>
        {% include "common/invalid-feedback" with {"formName" : "fieldDTO", "fieldName" : "status"} %}
    </div>

    <input type="hidden" name="ownerId" value="{{ fieldDTO.ownerId }}">
    <input type="hidden" name="id" value="{{ fieldDTO.id }}">

    <div class="form-group mt-4">
        <button class="btn btn-success" type="submit">Submit</button>
        {% include "common/invalid-feedback" with {"formName" : "fieldDTO", "fieldName" : "id"} %}
    </div>
</form>

<h2 class="mt-5">Allowed Fields</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Label</th>
            <th scope="col">Description</th>
            <th scope="col">Element Type</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for field in fields %}
        <tr>
            <th scope="row">{{ field.id }}</th>
            <td>
                <b>{{ field.name }}</b>
            </td>
            <td>
                <u>{{ field.label }}</u>
            </td>
            <td>
                <i>{{ field.description }}</i>
            </td>

            <td>
                <i>{{ field.elementType }}</i>
            </td>

            <td>
                <div class="btn-group" role="group">
                    <button onclick="window.location = '{{ href('/form/field/' + field.id + '/configure') }}'"
                            type="button" class="btn btn-sm btn-secondary">CONFIGURE</button>
                    <button onclick="window.location = '{{ href('/form/field/' + field.id + '/modify') }}'"
                            type="button" class="btn btn-sm btn-info">MODIFY</button>
                    <button type="button" class="btn btn-sm btn-danger">STATUS</button>
                    <div class="btn-group" role="group">
                        <button id="status" type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                        <div class="dropdown-menu" aria-labelledby="status" style="">
                            <a class="dropdown-item" href="{{ href('/form/field/' + field.id + '/status/active') }}">STATUS ACTIVE</a>
                            <a class="dropdown-item" href="{{ href('/form/field/' + field.id + '/status/inactive') }}">STATUS INACTIVE</a>
                            <a class="dropdown-item" href="{{ href('/form/field/' + field.id + '/status/deleted') }}">STATUS DELETE</a>
                            <a class="dropdown-item" href="{{ href('/form/field/' + field.id + '/delete') }}">DELETE PERMANENTLY</a>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}