{% extends "common/layout" %}
{% block title %}User Form{% endblock %}
{% block content %}
<form method="post" action="{{ href('/user/perform') }}" enctype="multipart/form-data" class="row g-3" >

    <div class="form-group">
        <label for="form-email">User E-mail</label>
        <input name="email" type="text" class="form-control {{ ifFieldErrors('itemDTO', 'email', 'is-invalid', 'is-valid') }}" id="form-email" value="{{ itemDTO.email }}">
        {% include "common/invalid-feedback" with {"formName" : "itemDTO", "fieldName" : "email"} %}
    </div>

    <div class="form-group">
        <label for="form-name">Name</label>
        <input name="name" type="text" class="form-control {{ ifFieldErrors('itemDTO', 'name', 'is-invalid', 'is-valid') }}" id="form-name" value="{{ itemDTO.name }}">
        {% include "common/invalid-feedback" with {"formName" : "itemDTO", "fieldName" : "name"} %}
    </div>

    <div class="form-group">
        <label for="form-password">Password</label>
        <input name="password" type="text" class="form-control {{ ifFieldErrors('itemDTO', 'password', 'is-invalid', 'is-valid') }}" id="form-password" value="{{ itemDTO.password }}">
        {% include "common/invalid-feedback" with {"formName" : "itemDTO", "fieldName" : "password"} %}
    </div>

    <div class="form-group">
        <label class="d-block">Status</label>
        <div class="btn-group" role="group">
            <input type="radio" class="btn-check" name="enabled" id="ENABLED" value="true" autocomplete="off" checked>
            <label class="btn btn-sm btn-outline-dark" for="ENABLED">ENABLED</label>
            <input type="radio" class="btn-check" name="enabled" id="DISABLED" value="false" autocomplete="off">
            <label class="btn btn-sm btn-outline-danger" for="DISABLED">DISABLED</label>
        </div>
        {% include "common/invalid-feedback" with {"formName" : "itemDTO", "fieldName" : "status"} %}
    </div>

    <div class="form-group">
        <label class="d-block">Roles</label>
        <div class="btn-group" role="group">
            <fieldset>
                {% for role in roles %}
                    {% if itemDTO.roles contains role.name %}
                        {% set checked = "checked" %}
                    {% else %}
                        {% set checked = "" %}
                    {% endif %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="roles[]" value="{{ role.name }}" id="{{ role.id }}" {{checked}}>
                        <label class="form-check-label" for="{{ role.id }}">
                            {{ role.name }}
                        </label>
                    </div>
                {% endfor %}
            </fieldset>
        </div>
        {% include "common/invalid-feedback" with {"formName" : "itemDTO", "fieldName" : "roles"} %}
    </div>

    <input type="hidden" name="id" value="{{ itemDTO.id }}">
    <input type="hidden" name="provider" value="{{ itemDTO.provider }}">

    <div class="form-group mt-4">
        <button class="btn btn-success" type="submit">Submit</button>
        {% include "common/invalid-feedback" with {"formName" : "itemDTO", "fieldName" : "id"} %}
    </div>
</form>

<h2 class="mt-5">Internal Users</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Provider</th>
            <th scope="col">Email</th>
            <th scope="col">Name</th>
            <th scope="col">Enabled</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <th scope="row">{{ user.id }}</th>
            <th>{{ user.provider }}</th>
            <td>{{ user.email }}</td>
            <td>{{ user.name }}</td>
            <td>
                <span class="badge bg-{{ user.enabled ? 'dark' : 'danger' }}">{{ user.enabled }}</span>
            </td>
            <td>
                <div class="btn-group" role="group">
                    <button onclick="window.location = '{{ href('/user/' + user.id + '/modify') }}'"
                            type="button" class="btn btn-sm btn-info">EDIT</button>
                    {% if user.enabled %}
                    <button onclick="window.location = '{{ href('/user/' + user.id + '/block') }}'"
                            type="button" class="btn btn-sm btn-warning">BLOCK</button>
                    {% else %}
                    <button onclick="window.location = '{{ href('/user/' + user.id + '/unblock') }}'"
                            type="button" class="btn btn-sm btn-success">UNBLOCK</button>
                    {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}